{{ template "base" }}
<body> 
    {{template "header"}}
    {{ if .  }}
        <div class="post">
            <p><h1>{{.Title }}</h1></p>
            <p>{{ .Content }} </p>
            <p><a href="/delete/{{.Id}}"> delete </a></p>
        </div>

        <form method="POST" action="/post/{{.Id}}">
            <p><textarea placeholder="comment" name="comment"></textarea></p>
            <p><input type="submit" value="comment"></p>
        </form>
        {{range .Comments}}
            <p>{{ .User }}: {{ .Comment }} </p>
        {{end}}

    {{ else }}
        <h1> post is not found</h1>
    {{ end  }}



</body>
</html>
